html {
    font-size: 62.5%;
}

:root {
    --primary-color: #0288D1;
    --secondary-color: #03A9F4;
    --text-color-second: whitesmoke;
    --opacity: #c6c6c6;
}

body {
    background-color: var(--primary-color);
}